body {
	background-color: #81F7AA;
}

.navbar {
	background-color: transparent;
	border: none;
}

.nav {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-family: Quicksand;
	font-weight: bold;
	
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: white;
}

#home {
	background-color: #81F7AA;
	margin-top: 50px;
}

#about {
	background-color: #8193F7;


}


#work {
	background-color: #F781CE;
	padding-bottom: 350px;
	margin: 0 auto;
	text-align: center;
}


#contact {
	background-color: #F7E581;

}


#thanh {
	padding-top: 40px;
	padding-bottom: 300px;
	text-align: center;
}

.hello {
	padding-bottom: 400px;
}


footer {
	background-color: #F7E581;
	bottom: 0;
	text-align: center;
}

p {
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
}

h1 {
	text-align: center;
	font-family: Quicksand;
	font-size: 5.5em;
	letter-spacing: .8px;
	padding-top: 100px;
}

h2 {
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	font-size: 2em;
}

.skills {
	text-align: left;
	padding-bottom: 220px;

}

.skills li {
	margin-left: 200px;
}

#web {
	margin: 0 auto;
}

#contact-form {
	margin: 0 auto;
	width: 40%;
	margin-top: 100px;
}

#message-box,
#name,
#email {
	border: none;
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
}

.social {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 20px;
}

#github, 
#linkedin, 
#env {
	padding-top: 200px;
	color: grey;
	margin-left: 10px;
	margin-right: 10px;

}

#github:hover, 
#linkedin:hover,
#env:hover {
	color: white;
}

#submit-button {
	border: 1px solid white;
	background-color: #F7E581;
	font-family: "Source Sans Pro";
	margin-bottom: 80px;
	letter-spacing: .8px;
}

#submit-button:hover {
	background-color: white;
	color: grey;

}

#web,
#marketing {
	text-align: center;
	padding-top: 50px;
	letter-spacing: .8px;
}
.img-circle {
    border-radius: 50%;
    width: 140px;
}

.headshot {
	text-align: center;
}

#my-headshot {
	margin-top: 140px;
}

.circle {
	border-radius: 50%;
	width: 180px;
	height: 180px;
	background-color: grey;
}

.circle .circle-text {
	left: 20px;
	padding-top: 65px;
}

#work-c {
	padding-top: 110px;
}

#pj,
#zug {
	background-color: black;
	color: white;
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	margin: 0 auto;
}

#blog,
#pf {
	background-color: white;
	color: black;
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	margin: 0 auto;
}
