/*html*/
body {
	background-color: #81F7AA;
}

p {
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	font-size: 1.3em;
}

h1 {
	text-align: center;
	font-family: Quicksand;
	font-size: 5.5em;
	letter-spacing: .8px;
	padding-top: 100px;
}

h2 {
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	font-size: 1.8em;	
}

/*nav*/
.navbar {
	background-color: transparent;
	border: none;
}

.nav {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-family: Quicksand;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: white;
}
/*home*/


#home {
	background-color: #81F7AA;
	margin-top: 50px;
}

#thanh {
	padding-top: 40px;
	padding-bottom: 300px;
	text-align: center;
}


/*about*/

#about {
	background-color: #8193F7;
}

#about-div {
	width: 40%;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 200px;
}

#web, #marketing {
	margin: 0 auto;
}

#web h2, ul li, 
#marketing h2, ul li {
	text-align: left;
}

.img-circle {
    border-radius: 50%;
    width: 140px;
}

.headshot {
	text-align: center;
}

#my-headshot {
	margin-top: 140px;
}

#web,
#marketing {
	padding-top: 50px;
	letter-spacing: .8px;
}

#web h2, #marketing h2 {
	text-align: center;
}

#web ul, #marketing ul {
	list-style-type: none;
}

.about-div {
	width: 70%;
	margin: 0 auto;
	
}

/*work*/

#work {
	background-color: #F781CE;
	padding-bottom: 350px;
	margin: 0 auto;
	text-align: center;
}

.circle {
	border-radius: 50%;
	width: 180px;
	height: 180px;
	background-color: grey;
}

.circle .circle-text {
	left: 20px;
	padding-top: 60px;
}

#work-c {
	padding-top: 110px;
}

#pj,
#chat {
	background-color: black;
	color: white;
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	margin: 0 auto;
}

#zug,
#pf {
	background-color: white;
	color: black;
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
	margin: 0 auto;
}
/*contact*/

#contact {
	background-color: #F7E581;
}

#contact-form {
	margin: 0 auto;
	width: 40%;
	margin-top: 100px;
}

#message-box,
#name,
#email {
	border: none;
	font-family: "Source Sans Pro";
	letter-spacing: .8px;
}

#submit-button {
	border: 1px solid white;
	background-color: #F7E581;
	font-family: "Source Sans Pro";
	margin-bottom: 80px;
	letter-spacing: .8px;
}

#submit-button:hover {
	background-color: white;
	color: grey;

}

/*footer*/
footer {
	background-color: #F7E581;
	bottom: 0;
	text-align: center;
}

.social {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 20px;
}

#github, 
#linkedin, 
#env {
	padding-top: 200px;
	color: grey;
	margin-left: 10px;
	margin-right: 10px;

}

#github:hover, 
#linkedin:hover,
#env:hover {
	color: white;
}

/*media*/
@media (max-width: 995px) {
  #pj, #pf {
  	margin-bottom: 60px;
  }
  #web, #marketing h2 {
  	text-align: center;
  }
  #chat {
  	color: black;
  	background-color: white;
  }
  #zug {
  	color: white;
  	background-color: black;
  }
  #work {
	padding-bottom: 150px;
  }
  #about-div {
  	padding-bottom: 100px;
  }
  #thanh {
  	padding-bottom: 200px;
  }
 }
